* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.1em;
    line-height: 1.5;
}

.bg-pixel {
    position: absolute;
    background: url(../images/pexels-photo-248515.png) #333;
    width: 100%;
    height: 450px;
    opacity: 0.4;
    z-index: -1;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

header {
    color: black;
    height: 450px;
}

.content {
    max-width: 800px;
    height: inherit;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

header > div > h1 {
    font-size: 2em;
}

header > div > p {
    padding: 1em 0;
}

header > div > a {
    text-decoration: none;
    color: inherit;
    border: 1px solid #666;
    padding: 1em 2em;
    margin: 0.5em 0;
}

header > div > a:hover {
    background-color: rgb(240, 240, 240);
    color: black;
}

.sect-A {
    background-color: #eaeaea;
}

.sect-A div p{
    columns: 2;
    column-gap: 2em;
    margin-bottom: 3em;
}

.sect-A div h2 {
    font-size: 1.5em;
    padding: 1em 0;
}

#sect-B {
    display: flex;
    background-color: #333;
    height: 550px;
    text-align: center;
    justify-content: center;
    align-items: center;
}

#sect-B > div {
    background-color: #fff;
    width: 420px;
    height: 90%;
    margin-right: 30px;
}

#sect-B > div > picture > img {
    width: 100%;
}

#sect-B > div > h3 {
    margin: 25px 0;
}

#sect-B > div > p {
    padding: 0 10px;
}

.sect-C > .content > h2 {
    margin: 30px 0;
}

.sect-C > .content > p {
    margin-bottom: 30px;
}

.sect-D {
    display: flex;
    background-color: #333;
    height: 280px;
    text-align: center;
    justify-content: center;
    align-items: center;
    color: #fff;
}

.sect-D > div {
    width: 50%;
    height: 100%;
}

.sect-D > div > a {
    text-decoration: none;
    color: inherit;
}

.sect-D > div > h2{
    margin: 50px 0;
}

.sect-D > div > p{
    margin: 30px;
}

.sect-D > div:first-child{
    background-color: #2690d4;
}

footer {
    display: flex;
    background-color: #000000;
    height: 100px;
    text-align: center;
    justify-content: center;
    align-items: center;
    color: #fff;
}

footer > div {
    width: 50%;
}

footer > div > p > a {
    text-decoration: none;
    color: #2690d4;
}

@media screen and (max-width: 701px) {
    .sect-A div p{
        columns: 1;
    }

    #sect-B {
        flex-direction: column;
        height: auto;
        width: auto;
    }
    
    #sect-B > div {
        width: 80%;
        margin-bottom: 20px;
        padding-bottom: 20px;
    }
    
    .sect-D {
        flex-direction: column;
        height: auto;
        width: auto;
    }

    footer {
        flex-direction: column;
        height: auto;
    }

    footer > div {
        margin: 5px 0;
    }

}